{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
      @import url('https://fonts.googleapis.com/css?family=Share+Tech&display=swap');
        
        body{
            background-color: #F2F2F2;
            font-family: 'Share Tech' ;
        }
        .centering{
          text-align: center;
        }

        .gborder{
          border: #7ADAE7 solid 3px;
        }

        .greeny{
          background-color: #7ADAE7;
        }
        .kategori{
          margin-left: auto;
        }
  </style>
    <div class="d-flex p-3 flex-wrap justify-content-center container">
      <div class="row container-fluid">
        {% for elemen in semua_barang %}
        <div class="col-lg-3 col-sm-12 mb-2 container">
          <div class="d-flex container-fluid gborder justify-content-center align-items-center p-3 m-3 d-flex flex-column bg-light">
              <h5 class="greeny kategori">{{elemen.kategori}}</h5>
            <div class="centering">
              <h3 class="box-title centering"><a href="{{ elemen.id }}"> {{ elemen.nama_barang }} </a></h3>
            </div>
            <br>
              <div class="pr-2 pt-5">
                <p class="box-text">Prc : Rp. {{ elemen.harga_barang }}</p>
                <p class="box-text">Qty: {{elemen.stok_barang}}</p>
                <p class="box-text">Desc: {{elemen.deskripsi_barang}}</p>
              </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  <script src="{% static 'js/script.js' %}"></script>
{% endblock %}