{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        @import url('https://fonts.googleapis.com/css?family=Share+Tech&display=swap');
        
        body{
            background-color: #F2F2F2;
            font-family: 'Share Tech' ;
        }
        .greenyline{
            border: #7ADAE7 solid 3px;
        }
        .button{
            background-color: #7ADAE7;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            cursor: pointer;
        }
    </style>

    <div id="alert-success-ulasan" class="alert alert-success" role="alert" style="display:none">
        Sukses menambahkan ulasan.
    </div>
    <div id="alert-danger-ulasan" class="alert alert-danger" role="alert" style="display:none">
        Range bintang ulasan hanya boleh 1 - 5.
    </div>

    <div class="container p-3">
        <div class="d-flex flex-wrap justify-content-center">
            <div class="">
                <div class="greenyline jumbotron m-5 d-flex flex-wrap text-align-center">
                    <div class="kategori greeny">
                        {{ detail_barang.kategori_barang }}
                    </div>
                    <div class="card-body ">
                        <h4 class="card-title centering nama_barang" id="{{ detail_barang.nama_barang}}">{{ detail_barang.nama_barang }}</h4>
                        <p class="card-text">Prc : Rp. {{ detail_barang.harga_barang }}</p>
                        <p class="card-text">Qty: {{detail_barang.stok_barang}}</p>
                        <p class="card-text">Desc: {{ detail_barang.deskripsi_barang }}</p>
                        <p class="card-text">Kategori: {{ detail_barang.kategori }}</p>
                    </div>
                    
                </div>
                <div class="text-center">
                    {% if detail_barang.stok_barang > 0 %}
                    <input type="submit" id="tambah" class="button" value="TAMBAH KE KERANJANG !">
                        
                    {% else %}
                    <input type="submit" class="button mb-5" value="STOCK HABIS" disabled>
                    
                    {% endif %}
                </div>
            </div>


            <!-- Untuk loop ulasan, masukin elemennya di divnya lorem yakk -->
            <div id="ulasan-list" class="col-7 jumbotron pt-5 greenyline">

                    {% if request.user.is_authenticated %}
                    <div class="card mb-1 p-1">
                        <div>
                            {% csrf_token %}
                            <h4>Mengulas sebagai {{request.user.username}}</h4>
                            <input id="review-desc" class="form-control" type="text" name="ulasan" placeholder="Your review">
                            <input id="review-star" class="w-25" type="number" name="bintang" min="1" max="5" placeholder="Stars">
                            <button class="btn btn-main" id="submit-ulasan-btn" to_id="{{detail_barang.id}}" current_user="{{request.user.username}}">Submit Review</button>
                        </div>
                    </div>
                    {% endif %}
                    <div id="ulasan-container">
                    {% for ulasan in ulasan_query %}
                        <div class="card mb-1 mt-1 p-3">
                            <h3>{{ulasan.user.username}}</h3>
                            <p>{{ulasan.bintang}}/5 Stars</p>
                            <p>{{ulasan.ulasan}}</p>
                        </div>
                    {% endfor %}
                    </div>
            </div>
        </div>    
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="{% static 'js/script.js'%}"></script>
    <script src="{% static 'js/detail_barang.js' %}"
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}