{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/admin.css' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="{% static 'css/admin.css' %}">
  <title>TimTam Admin</title>
</head>

<body>
  <div class="container text-center p-4">
    <h1 class="text-center">Admin Gan</h1>
    <div class="d-flex flex-row flex-wrap justify-content-center">
      <div class="d-flex flex-row flex-wrap justify-content-center">
        <div class="box-body d-flex justify-content-center align-items-center p-5 m-3 d-flex flex-column bg-light">
          <h5 class="greeny kategori">ADMIN</h5>
          <div class="centering">
            <h3 class="box-title centering"><a href="/myadmin/kupon"> Kupon </a></h3>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row flex-wrap justify-content-center">
        <div class="box-body d-flex justify-content-center align-items-center p-5 m-3 d-flex flex-column bg-light">
          <h5 class="greeny kategori">ADMIN</h5>
          <div class="centering">
            <h3 class="box-title centering"><a href="/myadmin/barang"> Barang </a></h3>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row flex-wrap justify-content-center">
        <div class="box-body d-flex justify-content-center align-items-center p-5 m-3 d-flex flex-column bg-light">
          <h5 class="greeny kategori">ADMIN</h5>
          <div class="centering">
            <h3 class="box-title centering"><a href="/myadmin/kategori"> Kategori </a></h3>
          </div>
        </div>
      </div>
</body>

</html>