{% extends 'base.html' %}
{% block content %}

<div class="container">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-4" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
	{% endfor %}
  {% endif %}
    <form class="mt-5" method="POST">
      {% csrf_token %}
        <div class="form-column">
          <div class="form-group col-md-5">
            <label>Nama</label>
            <input type="text" class="form-control" id="nama_pengulas" name="nama_pengulas" required>          
          </div>
          <div class="form-group col-md-5">
            <label for="dosen">Ulasan</label>
            <input type="text" class="form-control" id="ulasan" name="ulasan" required>          
          </div>
			<div class="form-group col-md-2">
            <label for="sks">Bintang</label>
            <input type="number" class="form-control" id="bintang" name="bintang" required>          
          </div>
        </div>
	
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
</div>
{% endblock content %}