{% extends 'base.html' %}
{% block content %}
<div class="container my-4">
    {% if messages %}
      {% for message in messages %}
          <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
      {% endfor %}
      {% endif %}

      <a href="add/" class="btn btn-info" role="button">+ Ulasan</a>

    {%if all_ulasan%}
          {% for ulasan in all_ulasan %}
          <div class="card mt-3">
                  <div class="card-body d-flex justify-content-between flex-column flex-md-row">
                      <div>
                          <h5 class="card-title">{{ ulasan.nama_pengulas }} ({{ ulasan.bintang }} bintang)</h5></a>
                          <h6 class="card-subtitle mb-2 text-muted">{{ ulasan.ulasan }}</h6>
                      </div>
                  </div>
          </div>
          {%endfor%}
  
      {%else%}
       <h3>Tidak ada ulasan.</h3>
  {%endif%}
  </div>
{% endblock content %}

