{% extends 'base.html' %}
{% load static %}
{% block content %}

<span class="notifcation-container">
    <div class="alert alert-info" id="notification-sedang-proses" style="display:none">
        Sedang memproses transaksi anda...
    </div>

    <div class="alert alert-danger" id="notification-gagal" style="display:none">
        Transaksi gagal karena stok <span id="nama_barang_gagal">NAMA_BARANG</span> tidak cukup
    </div>

    <div class="alert alert-success" id="notification-sukses" style="display:none">
        Transaksi berhasil :)
    </div>
</span>

<div class="container w-100 transaksi p-2 d-flex justify-content-center align-items-center">
    <div class="row w-100">
        <div class="col-lg-6 col-sm-12">
            <h1>Checkout!</h1>
            {% for item in checkout_list %}
                <div class="bg-main3 w-100 p-3 border-history my-2">
                    <h3>{{item.0.barang.nama_barang}} ({{item.0.jumlah}} pcs.)</h3>
                    <h3>{{item.1}}</h3>
                </div>
            {% endfor %}
            
            <h3>Kupon yang dipilih: <span id="nama-kupon-transaksi">Tidak ada</span></h3>
            <h3>Total harga : Rp. <span id="total-harga">{{total_harga}}</span>,-</h3>
            <h3 id="new-harga"></h3>
            <button id="checkout-btn" class="btn btn-primary">Checkout</button>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="d-flex flex-column">
                <h3>Ayo cari kupon dan dapatkan diskonnya</h3>
                <div class="d-flex align-items-center">
                    <p class="m-0 p-0 pr-2">Nama kupon</p>
                    <input id="cari-kupon-name" class="form-control-sm" type="text" placeholder="Cari kupon">
                </div>
                <div class="d-flex align-items-center">
                    <p class="m-0 p-0 pr-2">Minimal persentase kupon</p>
                    <input id="cari-kupon-percentage" class="form-control-sm" type="number" placeholder="Persentase kupon">
                </div>
                <button id="cari-kupon-btn" class="btn btn-primary w-25">Cari kupon</button>

                <h4 class="mt-2">Found coupon:</h4>

                <div class="coupon-list">

                    

                </div>
            </div>
        </div>
    </div>
    
    
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/checkout.js'%}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{% endblock %}