<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World!</title>
</head>
<body>
    <h1>Hello World!</h1>
    
    <ol>
    {% for object in tulisan %}
        <li>{{object.judul}}</li>
    {% endfor %}
    </ol>
</body>
</html>