{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row h-100">
      <div class="col-lg-6 col-sm-12 p-5 d-flex justify-content-center align-items-center">
        <form action="{% url 'transaksi:add_transaksi' %}" method="POST">

            {% csrf_token %}
            <input type="hidden" value="{{barang_dibeli.nama_barang}}" name="nama_barang">
            <input type="hidden" value="{{barang_dibeli.harga_barang}}" name="harga_barang">
            <input type="hidden" value="{{barang_dibeli.stok_barang}}" name="stok_barang">
            <input type="hidden" value="{{barang_dibeli.deskripsi_barang}}" name="deskripsi_barang">

            <input type="hidden" value="{{nama_kupon_terpilih}}" name="kupon_terpilih_nama">
            <input type="hidden" value="{{persentase_kupon_terpilih}}" name="kupon_terpilih_persentase">
          
            <div class="w-100">
            <h4>Nama Depan</h4>
            <input class="form-control" type="text" placeholder="Nama Depan" name="nama_depan" required>
          </div>
          <div class="w-100 my-2">
            <h4>Nama Belakang</h4>
            <input class="form-control" type="text" placeholder="Nama Belakang" name="nama_belakang" required>
          </div>
          <div>
            <h4>Barang dibeli: {{barang_dibeli.nama_barang}}</h4>
          </div>
          
          <div class="mt-4">
              
            {% if harga_setelah_potongan != None %}
                <h3>Biaya yang dikenakan:</h3>
                <h4>Rp. {{harga_setelah_potongan}}</h4>
            {% else %}
                <h3>Biaya yang dikenakan:</h3>
                <h4>Rp. {{barang_dibeli.harga_barang}}</h4>
            {% endif %}
            <input type="submit" class="btn btn-main " value="Bayar Gan">
          </div>
        </form>
      </div>

      <div class="col-lg-6 col-sm-12 px-5 pt-lg-5">
        <form action="{% url 'transaksi:checkout' %}" method="POST" class="d-flex justify-content-center align-items-center flex-column">
            {% csrf_token %}

            <input type="hidden" value="{{barang_dibeli.nama_barang}}" name="nama_barang">
            <input type="hidden" value="{{barang_dibeli.harga_barang}}" name="harga_barang">
            <input type="hidden" value="{{barang_dibeli.stok_barang}}" name="stok_barang">
            <input type="hidden" value="{{barang_dibeli.deskripsi_barang}}" name="deskripsi_barang">
          
            <h2 class="mb-4">Selamatkan uang anda</h2>
          <div class="w-75 my-1">
            <h4>Nama Kupon</h4>
            <input class="form-control" type="text" placeholder="Nama Kupon" name="nama_kupon">
          </div>
          <div class="w-75 my-1">
            <h4>Persentase Kupon</h4>
            <input class="form-control" type="number" placeholder="Persentase Kupon" name="persentase_kupon">
          </div>
          <input type="submit" class="btn btn-main w-75" value="Cari Kupon">

          {% if nama_kupon_terpilih %}
        <p class="m-0 mt-2 p-0">Anda memilih kupon "{{nama_kupon_terpilih}}"</p>
        <h4 class="m-0 p-0">untuk diskon {{persentase_kupon_terpilih}}%</h4>
        {% endif %}

        {% if nama_kupon %}
        <p>Search for: {{nama_kupon}}</p>
        {% endif %}
        
        {% if persentase_kupon %}
        <p>Persentase diatas: {{persentase_kupon}}%</p>
        {% endif %}


        <p class="m-0 p-0 pt-3">Kupon Available:</p>
        <div class="row mt-3">
            {% for kupon in kupon_list %}
                <div class="col-4 d-flex justify-content-center align-items-center flex-column my-1">
                    <button type="submit" value="{{kupon.name}}---{{kupon.percentage}}" name="kupon_terpilih"
                    class="bg-coupon text-light rounded-lg px-2 py-1 text-center d-flex justify-content-center align-items-center flex-column">
                        <p class="m-0 p-0">{{kupon.name}}</p>
                        <p class="m-0 p-0">{{kupon.percentage}}% Off</p>
                    </button>
                </div>
            {% endfor %}
          </div>

        </form>

        
        </div>
      </div>
    </div>
  </div>

{% endblock %}