{% extends 'base.html' %}
{% block content %}
    <div class="container p-2 d-flex justify-content-center align-items-center flex-column">
        {% for transaksi in transaksi_list %}
        <div class="bg-main3 w-75 p-3 border-history my-2" id="transaksi-history-card">
            <div class="row">
                <div class="col-lg-6 col-sm-12 d-flex justify-content-center align-items-start flex-column">
                    <h1 class="m-0 p-0">{{transaksi.0.user.username}}</h1>
                    <p class="m-0 p-0">Barang: {{transaksi.2}}</p>
                </div>
                <div class="col-lg-6 col-sm-12 d-flex justify-content-center align-items-start flex-column">
                    <p class="m-0 p-0">{{transaksi.0.tanggal_beli|date:"Y-m-d / G:i"}}</p>
                    <p class="m-0 p-0">
                        {% if transaksi.0.kupon != None %} 
                            Coupon: {{transaksi.0.kupon.name}} ({{transaksi.0.kupon.percentage}}% off)
                        {% else %}
                            No coupon used
                        {% endif %}
                    </p>
                    <h2 class="m-0 p-0">Rp. {{transaksi.1}},00</h2>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}