{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta nyimpen link -->
    <meta name="untukcreate" content="{% url 'keranjang:create' %}">
    <meta name="untukadd" content="{% url 'keranjang:add' %}">
    <meta name="untukkurang" content="{% url 'keranjang:reduced' %}">
    <meta name="untukdetail" content="{% url 'keranjang:detail' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- External CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Google Fonts API -->
    <link href="https://fonts.googleapis.com/css?family=Share+Tech&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <title>TimTam Shop</title>
  </head>
  <body class="bg-main2">

    
  {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-main">
      <a class="navbar-brand" href="{% url 'barang:index' %}">TimTam</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form action="{% url 'barang:index' %}" method="POST" class="form-inline my-2 my-lg-0 ml-auto w-100 d-flex justify-content-center">
          {% csrf_token %}
          <input class="form-control mr-sm-2 w-50" type="search" placeholder="Cari Barang?" aria-label="Search" name="nama_barang">
          <input type="submit" class="btn btn-main2" value="Cari">
        </form>
        <ul class="navbar-nav ml-auto mr-3">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'transaksi:history' %}">History</a>
          </li>
        </ul>
        {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            {% if not checkout_page %}
            <button type="button" class="modal_keranjang btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Keranjang
            </button>
            {% endif %}
          </li>
        </ul>
        <ul class="navbar-nav ml-xl-4">
          <li class="nav-item">
            hello {{ user.username }}!
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link logout" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link signup" href="{% url 'timauth:signup' %}">Signup</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link login" href="{% url 'account_login' %}">Login</a>
          </li>
        </ul>
      </div>
      {% endif %}
    </nav>
    {% endblock %}
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Keranjang</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
          </div>
          <div class="modal-footer d-flex flex justify-content-between">
              <div class="untuk-harga">

              </div>

              <div class="transaksi-cepat">

              </div>
              <a href="{% url 'checkout:submit_transaksi' %}" class="checkout-ref"><button type="button" class="btn btn-secondary" id="checkout">Checkout</button></a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    {% block content %}
    {% endblock %}
    
    
    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>