{% extends 'base.html' %}
{% block content %}
<div class="container p-5 d-flex flex-column justify-content-center align-items-center">
    <div class="notification"></div>
    <div class="title">
        <h1>Create A New User</h1>
    </div>
    <div class="accordionlist">
        <p>{{ error }}</p>
        <form action="{% url 'timauth:signup' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="menu">
                    <input type="submit" class="nothing" value="Create Account!">
                <a href="{% url 'account_login' %}">
                    <div class="accordionheader">
                        <p>Already have one?</p>
                    </div>
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}