@import url('https://fonts.googleapis.com/css?family=Share+Tech&display=swap');

body {
  background-color: #F2F2F2;
  font-family: 'Share Tech';
}

.centering {
  text-align: center;
}

.box-body {
  height: 100%;
  width: 100%;
  border: #7ADAE7 solid 3px;
  box-sizing: border-box;
}

.greeny {
  background-color: #7ADAE7;
}

.lefting {
  text-align: center;
}

.kategori {
  margin-left: auto;
}